/* colors #757575 #212121 #2196F3  */
/* 15 1170 30 */
:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}

.page {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

/* навігація */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* .site-nav .item:not(:last child) {
  margin-right: 50px;
  doesnt work
} */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.link.current {
  color: var(--accent-text-color);
}

/* лого */
.logo {
  color: #000000;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

.logo-half {
  color: var(--accent-text-color);
}

/* контакти */
.contacts {
  display: flex;
  margin-left: auto;
  padding: 32px;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts a {
  color: #757575;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-text-color);
}

/* ефективні рішення */
.solutions {
  background-color: #2f303a;
}

.head-solution {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 30px;
}
/* how centre; padding bottom */

.solution-button {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px 32px;
  min-width: 216px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.solution-button:hover,
.solution-button:focus {
  color: var(--accent-text-color);
  background-color: var(--primary-white-color);
}

/* переваги */
.advantages {
  background-color: #f5f5f5;
}

.advantages h2 {
  display: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section-advantages {
  display: flex;
  align-items: center;
  /* nothing change */
}

.section-advantages h3 {
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.section-advantages p {
  color: #757575;

  font-size: 14px;
  line-height: 1.7;
}

/* Чим ми займаємося */
.examples {
  background-color: #f5f5f5;
}

.examples h2 {
  padding-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* зазоры по краям */
.section-examples {
  display: flex;
  padding-bottom: 94px;
}

.section-examples .item + .item {
  margin-left: 50px;
}

/* команда */

.team {
  background-color: #f5f4fa;
}

.team h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* 
.section-team .item {
  padding-bottom: 94px;
} */

.section-team {
  display: flex;
  justify-content: space-between;
}
/* зазоры по краям */

.section-team h3 {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-team p {
  color: #757575;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* Підвал */
.bottom {
  background-color: #2f303a;
}

/* лого-підвал */
.logo-bottom {
  color: var(--primary-white-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-bottom:hover,
.logo-bottom:focus {
  color: var(--accent-text-color);
}

.logo-half {
  color: var(--accent-text-color);
}

/* контакти-підвал */
.section-bottom {
  padding: 60px;
  /* justify-content: flex-start; */
}

.contacts-bottom a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;
}

.contacts-bottom a:hover,
.contacts-bottom a:focus {
  color: var(--accent-text-color);
}

.address a {
  color: var(--primary-white-color);
  text-decoration: none;
}

.address a:hover,
.address a:focus {
  color: var(--accent-text-color);
}

/* Портфоліо */

.portfolio-button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

.section-portfolio h2 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-portfolio p {
  color: #757575;

  font-size: 16px;
  line-height: 1.8;
}

.link {
  text-decoration: none;
}
